<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="header">

  <ul class="navbar-nav rounded">
    <li class="nav-item">
      <a class="nav-link bg-light text-dark" routerLink="alunos" routerLinkActive="active">Lista de Alunos</a>
    </li>
    <!--Criar -->
    <li class="nav-item ">
      <a style="color: rgb(0, 0, 0);" class="nav-link bg-light text-dark" routerLink="criar"
        routerLinkActive="active">Registrar Aluno</a>
    </li>

  </ul>
</nav>


<div class="conteiner">
  <h1 style="margin: 20px 10px 50px;" class="text-center">Lista de alunos</h1>
  <router-outlet></router-outlet>
</div>

<!-- Rodapé -->
<footer class="footer">

  <div class="container">
    <span>Todos os direitos reservados &#64;Kayky Carvalho Sebastiao</span>
  </div>

</footer>